body {
  background-color:rgb(6, 28, 49);
}

.fylo{
  display: flex;
  justify-content: space-between;
}

.fylo a{
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  margin: 10px;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  
}

.information {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.information h1{
font-size: 2.2rem;
}
.information p{
font-size: 2rem;
line-height: 2.5rem; /* Adjust this value as needed */
max-width: 80%; /* Adjust this value as needed */
margin-bottom: 10px;
}
.information button{
border-radius:50px;
padding:1% 5%;
background-color: aqua;
color: white;
border: none;
cursor: pointer;
}
.img-1, .img-2 {
  margin-top: 5%;
  display: flex;
  color: white ;
  justify-content: space-evenly;
  flex-wrap: wrap;

}
.img-1 .content, .img-2 .content {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  text-align: center; /* Center text within the container */
  margin: 20px; /* Adjust margin as needed */
}

.img-1 .content img, .img-2 .content img {
  margin-bottom: auto; /* Pushes the image to the top */
}

.img-1 .content h2, .img-2 .content h2,
.img-1 .content p, .img-2 .content p {
  margin-top: auto; /* Aligns h2 and p to the bottom */
}
#container{
background-image: url('/images/bg-curvy-desktop.svg');
background-size: cover;
background-position:center;
overflow: hidden;

}

@media (max-width:768px) {
  .fylo{
      font-size: 1rem;
      align-items: center;
      flex-direction: row;
  }
  .intro{
    scale: 0.4;
  }
  .productive img{
    scale: 1;
    text-align: center;
  }
  .below_text{
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 1rem;
  }
  section,.box{
    margin:2%;
    font-size: 1rem;
    flex-direction:column;
  }
}
.productive{
color: white;
display: flex;
justify-content: space-evenly;
margin-top:10%;
}
.below_text{
  font-size: 1.5rem;
}
.productive a{
color: aqua;
}
.productivity{
display: flex;
justify-content: space-evenly;
}
.box{
border: 2px solid rgb(21, 27, 79);
padding:5% 2%;
color: white;
}
